<html>
    <head>
        <title>Add message page</title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <form method="POST" action="/new">
            <input type="text" placeholder="Enter your name" name="username"/>
            <input type="text" placeholder="Enter your message" name="messageText"/>
            <button type="submit">Submit</button> 
        </form>
    </body>
</html>
