<form method="POST" action="/new">
    <input type="text" placeholder="Enter your name" name="username"/>
    <input type="text" placeholder="Enter your message" name="messageText"/>
    <button type="submit">Submit</button>
</form>