<html>
    <head>
        <title>Add message page</title>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>

            <%- include("navbar")%>
            <form method="POST" action="/new">
                <div class="inputField">
                    <label>Name</label>
                    <input type="text" placeholder="Enter your name" name="username"/>
                </div>
                <div class="inputField">
                    <label>Message</label>
                    <input type="text" placeholder="Enter your message" name="messageText"/>
                </div>
                <button class="btn" type="submit">Submit</button> 
            </form>
            <%- include("footer")%>

    </body>
</html>
