:root{
    --color1: rgb(132, 0, 255);
    --color2: rgb(255, 0, 102);
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: var(--color1);
    padding:0.2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

nav a{

    padding:  8px 16px;
    border-radius: 2rem;
    background-color: var(--color2);
    color: white;
}

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}



footer{
    text-align: center;
    background-color: var(--color1);
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

main{
    height: 100vh;
}

.msgDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    gap: 1rem;
    border: 2px solid;
    width: 30rem;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--color1);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20rem;
    border: 2px solid;
    background-color: var(--color1);
    margin: auto;
    padding: 2rem 0.5rem;
    gap: 3rem;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 3rem;
}

input{
    border: none;
    border-radius: 2rem;
    padding: 0.7rem;
}

input:focus{
    outline: none;
}

.date{
    font-size: 0.5rem;
    font-weight: normal;
}

.inputField{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 0.5rem;
}


.navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--color2);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.info-card{
    display: flex;
    color: white;
    background-color: var(--color2);
    width: 80%;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
}